@using yum_admin.Models.DataTransferObject
@model Cherish_CheckDto

@{
    ViewData["Title"] = "Edit";
    var c = Model;
}
<div class="mx-auto mt-4" style="width:1120px">
    <h5 class="ps-5">詳細資訊</h5>
    <div class="rounded-1 shadow d-flex p-3 mb-3" style="height:4.1rem; border:1px solid #aaaaaaa0">

        <h4 class="text-center" style="flex-basis:10%;">@c.TradeStateDescript</h4>
        <div class="text-center" style="flex-basis:10%">|</div>
        <h4 class="text-start" style="flex-basis:10%;">@c.IngredientName</h4>
        <div class="text-center" style="flex-basis:40%"></div>
        <div class="text-end" style="flex-basis:40%">
            異動日期 @(c.ModifyDate.ToString("yyyy-MM-dd"))
        </div>
    </div>

    <div class="my-2 px-5 position-relative">
        <h4 class="d-inline-block">
            @{
                var text = (c.TradeStateCode == 0 || c.TradeStateCode == 2) ? "已通過" : "審查中";
            }
            備註：@((c.ReasonText is not null ? c.ReasonText : (c.RejectText is not null ? c.RejectText : text)))
        </h4>
        <h5 class="d-inline-block position-absolute end-0 pe-5 pt-1">預定上架日期：@(((DateTime)c.ReserveDate!).ToString("yyyy-MM-ss HH:mm"))</h5>
    </div>

    <div class="d-flex">
        <div style="flex-basis:48%;">
            <div class="rounded-1 shadow d-flex px-5 py-1 mb-3" style="border:1px solid #aaaaaaa0">
                <h4 class="my-2">1. 惜食資料</h4>
            </div>
            <div class="d-flex mb-2">
                <span class="px-5 fs-4" style="flex-basis:33%;">@c.IngredientName</span>
                <span class="px-5 fs-4" style="flex-basis:33%;">@c.IngredAttributeName</span>
                <span class="px-5 fs-4" style="flex-basis:33%;">數量 @c.Quantity</span>
            </div>
            <div class="px-5 my-0 w-100"><p class="col-3 m-0 d-inline-block">購買來源：</p>@c.ObtainSource</div>
            <div class="px-5 my-0 w-100"><p class="col-3 m-0 d-inline-block">購買日期：</p>@((c.ObtainDate).ToString("yyyy-MM-dd"))</div>
            <div class="px-5 my-0 w-100"><p class="col-3 m-0 d-inline-block" style="letter-spacing:0.37rem;">截止日：</p>@c.EndDate.ToString("yyyy-MM-dd")</div>
            <div class="px-5 my-0 w-100"><p class="col-3 m-0 d-inline-block">有效期限：</p><input type="date" value="@(c.CherishValidDate is null? null:((DateOnly)c.CherishValidDate!).ToString("yyyy-MM-ss"))" /></div>
        </div>
        <div style="flex-basis:4%"></div>
        <div style="flex-basis:48%;">
            <div class="rounded-1 shadow d-flex px-5 py-1 mb-3" style="border:1px solid #aaaaaaa0">
                <h4 class="my-2">2. 聯絡資料</h4>
            </div>
        </div>
    </div>
    














    <div>
        <a asp-action="cherish">返回</a>
    </div>


</div>










