@model yum_admin.Models.RecipeBrief

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RecipeBrief</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecipeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecipeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinishMinute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinishMinute)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClickTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClickTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creator.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecipeClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecipeClass.RecipeClassId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RecipeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
