@model IEnumerable<yum_admin.Models.RecipeBrief>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RecipeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishMinute)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClickTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeClass)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishMinute)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClickTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creator.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeClass.RecipeClassId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RecipeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RecipeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RecipeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
