@model yum_admin.Models.Ingredient

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ingredient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IngredientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IngredientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IngredientIcon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IngredientIcon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Attribution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Attribution.IngredAttributeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IngredientId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
