@model IEnumerable<yum_admin.Models.ViewModels.IngredientInfo>

@{
	ViewData["Title"] = "Index";
}
<style>
	tbody tr:hover {
		background-color: var(--yum-primary-1);
	}
	tr input[type="checkbox"]:checked{
		width:3rem;
		height:3rem;
	}

	.cg-btn {
		background-color: var(--yum-secondary-3);
	}

	.del-btn{
		background-color: var(--yum-secondary-2);
	}

	.cg-btn:hover {
		opacity:80%;
	}

	.popup button{
		border-radius:0.5rem;
		background-color:lightgray;
		padding:0.2rem 0.5rem;

	}
	.popup{
		max-height:24rem;
		overflow-y:scroll;
		border: 0.3rem solid green;
		background: #FFFFFF;
		top: 20%;
		left: 42%;
	}
	#cg-popup,
	#store-popup,
	#del-popup{
		display:none;
	}
</style>
<h1>食材審查</h1>
<a asp-action="Create">Create New</a>
<div class="my-5"></div>

<!-- Init-Show-Header -->
<div class="d-flex">
	<div class="ms-5" style="width:37%">
		<h4>用戶新建食材</h4>
	</div>

	<div style="width:10%"></div>

	<div class="ms-3 d-flex align-items-center" style="width:40%">
		<h4 class="col-4">現有食材搜尋</h4>

		<!-- 搜尋列 -->
		<div id="searchbar" class="ms-2 mb-2">
			<form action="POST" class="d-flex justify-content-center align-items-center position-relative">
				<!-- 地區 -->
				<div>

					<select name="Attr" id="match-Attr" class="d-inline-block p-1 rounded-1" asp-items="@ViewBag.Attr">
						<option value="0">種類</option>
					</select>
				</div>

				<!-- 輸入文字框 -->
				<div id="searchbar-text" class="ms-2 d-inline-flex align-items-center position-relative">
					<input class="form-text col-8" placeholder="食材名稱" type="text" name="Food">
					<button class="ms-2" id="food-filter" type="submit" id="#food-filter"
							style="border: 0;border-radius: 18px; right:-1%; width:3.5rem ;height: 2.4rem;">
						<svg width="24" height="24" viewBox="0 0 28 28" fill="none">
							<path d="M25.25 25.25L19.8125 19.8125M22.75
                                12.75C22.75 18.2728 18.2728 22.75 12.75
                                22.75C7.22715 22.75 2.75 18.2728 2.75
                                12.75C2.75 7.22715 7.22715 2.75 12.75
                                2.75C18.2728 2.75 22.75 7.22715 22.75 12.75Z" stroke="#757575" stroke-width="4"
								  stroke-linecap="round" stroke-linejoin="round" />
						</svg>
					</button>

				</div>

			</form>
		</div>
	</div>

</div>

<!-- Init-Show-Content -->
<div class="d-flex">

	<!-- 左側 -->
	<table class="table ms-5 text-center m-0 p-0 rounded-2" style="background-color:var(--yum-primary-3);width:37%;">
		<thead class="w-50">
			<tr class="border-bottom border-dark" style="opacity:80%;">
				<th></th>
				<th>
					@Html.DisplayNameFor(model => model.icon)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.name)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr style="height:1rem;" class="left-tr">
					<td style="width:4rem;">
						<input type="checkbox" name="name" value="@(item.id)" />
					</td>
					<td style="width:0.3rem;">
						@if (!string.IsNullOrEmpty(item.icon) && item.icon.StartsWith('/'))
						{
							<img src="@Url.Content($"~{item.icon}")" alt="Ingredient Icon" width="30" />
						}
					</td>
					<td style="width:6rem;">
						@item.name
					</td>
					<td style="width:7rem;">
						<button id="@(item.id)-store-btn">存下</button> 
						<!--
							|
						<button>
							<a asp-action="Delete" asp-route-id="@item.id" style="text-decoration:none">刪除</a>
						</button>
						-->
						
					</td>
				</tr>
			}
		</tbody>
	</table>


	<div class="text-center position-relative" style="width:10%;"> 
		<button class="position-fixed start-50 col-1 rounded-2 top-25 ms-1 cg-btn h-25" id="cg-btn">
			替換
			<svg height="2.5rem" width="2.5rem" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
				 viewBox="0 0 26.077 26.077" xml:space="preserve">
				<g>
					<g id="c103_arrow">
						<path style="fill:#030104;" d="M25.709,13.552l-9.721,9.994c0,0-1.151,1.219-1.151-0.105c0-1.325,0-4.532,0-4.532
						s-0.781,0-1.976,0c-3.42,0-9.642,0-12.173,0c0,0-0.688,0.184-0.688-0.861c0.001-1.047,0.001-9.533,0.001-10.279
						S0.576,7.04,0.576,7.04c2.463,0,8.895,0,12.199,0c1.072,0,1.771,0,1.771,0s0-2.569,0-4.186c0-1.61,1.208-0.395,1.208-0.395
						s9.081,8.791,10.033,9.744C26.482,12.894,25.709,13.552,25.709,13.552z" />
					</g>
				</g>
			</svg>

			
		</button>
		<button class="position-fixed start-50 col-1 rounded-2 ms-1 del-btn" style="top:65%;height:5.4rem;" id="del-btn">
			刪除

			<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" /></svg>


		</button>

	</div>

	<!-- 右側 -->
	<table class="table ms-3 text-center rounded-2" style="background-color:var(--yum-primary-3);width:40%;">
		<thead class="w-50">
			<tr class="border-bottom border-dark">
				<th></th>
				<th>
					@Html.DisplayNameFor(model => model.icon)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.name)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.attrName)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody id="insert-site">
			@foreach (var item in Model)
			{
				<tr class="right-tr">
					<td>
						<input type="checkbox" name="name" value="@(item.id)" />
					</td>
					<td style="width:5rem;">
						@if (!string.IsNullOrEmpty(item.icon) && item.icon.StartsWith('/'))
						{
							<img src="@Url.Content($"~{item.icon}")" alt="Ingredient Icon" width="30"/>
						}
					</td>
					<td style="width:7rem;">
						@Html.DisplayFor(modelItem => item.name)
					</td>
					<td style="width:10rem;">
						@Html.DisplayFor(modelItem => item.attrName)
					</td>
					<td>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<!-- PopUp-cg -->
<div class="py-3 position-fixed col-3 text-center popup" id="cg-popup">
	<p>

		<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M400-280v-400l200 200-200 200Z" /></svg>
		將這個食材標籤
	</p>
	<div id="cg-popup-insert"></div>
	<p>
		<!--
		<span>岡山香蕉</span>
		<span>其他</span>
		-->
	</p>
	<p>

		<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M400-280v-400l200 200-200 200Z" /></svg>
		變更成現有食材標籤
	</p>
	<div id="cg-popup-toFood"></div>
	<!--
	<p>
		<span>香蕉</span>
		<span>水果類</span>
	</p>
	-->
	<button id="cg-popup-close">返回</button>
	<button id="cg-popup-confirm">確認</button>
	
</div>

<!-- PopUp-storeNew -->
<div class="py-3 px-5 position-fixed col-3 popup" id="store-popup">
	<p class="mb-0" style="width:60%;">
		食材
	</p>
	<input class="w-100" type="text"/>
	<br />
	<p class="mt-4 mb-0">
		分類
	</p>
	<select class="w-100">
		<option value="default">分類</option>
		<option value="value">分類1</option>
		<option value="value">分類2</option>
		<option value="value">分類3</option>
	</select>
	<br />

	<div class="text-center mt-3">
		<button id="store-popup-close">返回</button>
		<button id="store-popup-confirm">確認</button>
	</div>
	
</div>


<!-- popup-del -->
<div class="py-3 px-5 position-fixed col-3 popup text-center" style="top:35%;" id="del-popup">
	<h4 class="mb-0" style="width:60%;">
		確定刪除？
	</h4>
	<div class="text-center" id="del-popup-insert">
	</div>
	<button id="del-popup-close">返回</button>
	<button id="del-popup-confirm">確認</button>
	
</div>

@section Scripts {
	<script>
		// 勾選起來~~~
		$('.left-tr').click(function () {
			if ($(event.target).is('button') || $(event.target).is('a')) {
				// 如果點擊的是按鈕，直接返回，不做其他操作
				return;
			}
			var boxcheck = $(this).find('input[type="checkbox"]').prop('checked')
			$(this).find('input[type="checkbox"]').prop('checked', !boxcheck)
		})
		$('.right-tr').click(function () {
			var boxcheck = $(this).find('input[type="checkbox"]').prop('checked')
			$(this).find('input[type="checkbox"]').prop('checked', !boxcheck)
		})

		// 把食材換成原本有的
		$('#cg-btn').click(function(){
			
			// 抓取被選取的食材資料
			$('.left-tr').find('input[type="checkbox"]:checked').each(function(idx,ele){
				var id = $('<input>').val($(ele).val()).css('display','none')
				var name = $('<span class="me-2">').append($(ele).parent().next().next().text().trim())
				var attr = $('<span>').append('其他')
				var cgIngredient =  $('<p>').append($(id)).append($(name)).append($(attr))
				// console.log(cgIngredient)
				$('#cg-popup-insert').append($(cgIngredient))
			})
			
			// 抓取要替換成的食材資料
			$('.right-tr').find('input[type="checkbox"]:checked').each(function (idx, ele) {
				var id = $('<input>').val($(ele).val()).css('display', 'none')
				var name = $('<span class="me-2">').append($(ele).parent().next().next().text().trim())
				var attr = $('<span>').append($(ele).parent().next().next().next().text().trim())
				var cgIngredient = $('<p>').append($(id)).append($(name)).append($(attr))
				// console.log($(ele).val())
				$('#cg-popup-toFood').append($(cgIngredient))
			})
			
			$('#cg-popup').show()
		})
		$('#cg-popup-close').click(function(){
			$('#cg-popup').hide()
			$('#cg-popup-insert,#cg-popup-toFood').empty()
		})
		$('#cg-popup-confirm').click(function () {
			
			// ajax
			
			$('#cg-popup').hide()
			$('#cg-popup-insert,#cg-popup-toFood').empty()
		})


		// 把新的食材存取下來！
		$('.left-tr').find('button').first().click(function () {
			console.log($(this).prop('id').split('-')[0])
			$('#store-popup').find('input[type="text"]').val($(this).prop('id').split('-')[0])
			$('#store-popup').show()
		})
		$('#store-popup-close').click(function () {
			$('#store-popup').find('input[type="text"]').val('')
			$('#store-popup').find('select').val('default')
			$('#store-popup').hide()
		})
		$('#store-popup-confirm').click(function () {

			// ajax

			$('#store-popup').hide()
			$('#store-popup').find('input[type="text"]').val('')
			$('#store-popup').find('select').val('default')
		})
	
		// 把該食材刪除！
		$('#del-btn').click(function () {

			// 抓取被選取的食材資料
			$('.left-tr').find('input[type="checkbox"]:checked').each(function (idx, ele) {
				var id = $('<input>').css('display', 'none').val($(ele).val())
				var name = $('<span class="me-2">').append($(ele).parent().next().next().text().trim())
				var attr = $('<span>').append('其他')
				var cgIngredient = $('<p>').append($(id)).append($(name)).append($(attr))
				$('#del-popup-insert').append($(cgIngredient))
				// console.log($('#del-popup-insert').find('input').val())
			})
			$('#del-popup').show()
		})
		$('#del-popup-close').click(function () {
			$('#del-popup').hide()
			$('#del-popup-insert').empty()
		})
		$('#del-popup-confirm').click(function () {
			var delId =[]
			$('#del-popup-insert').find('input').each(function (idx, ele) {
				delId.push($(ele).val())
			})
			console.log(delId)


			fetch('/ingredients/getToken')
				.then(response => response.json())
				.then(data => {
					const token = data.token;

					// 使用 AJAX 發送請求時附加防護令牌
					$.ajax({
						url: '/ingredients/delete/',
						method: 'POST',
						contentType: 'application/json',
						headers: { 'RequestVerificationToken': token }, // 添加防護令牌
						data: JSON.stringify(delId),
						success: function (response) {
							alert(`刪除成功：${response.message}`);
							window.location.href = response.redirectUrl;
						},
						error: function (xhr) {
							alert(`刪除失敗：, ${xhr.responseJSON.message}`)
						}
					});
				});
			
			$('#del-popup').hide()
			$('#del-popup-insert').empty()
		})


		$('#food-filter').click(function(e){
			e.preventDefault();
			e.stopPropagation();

			fetch('/ingredients/getToken')
				.then(response => response.json())
				.then(data => {
					const token = data.token;

					// 使用 AJAX 發送請求時附加防護令牌
					$.ajax({
						url: '/ingredients/FoodResult/',
						method: 'POST',
						contentType: 'application/json',
						headers: { 'RequestVerificationToken': token }, // 添加防護令牌
						data: JSON.stringify({ attrId: 1, name: '' }),
						success: function (response) {
							console.log(`查詢成功`, response);
						},
						error: function (xhr) {
							console.log(`查詢失敗：`, xhr.responseJSON.message);
						}
					});
				});
		})

		
		

	</script>
}


